.completeNav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
}

.inLeftPart{
  background-color: purple;
  height: 100%;
  width: 18rem;
}
.inRightPart{
  background-color: green;
  height: 100%;
  width: 23rem;
}
.inCenterPart{
  background-color: yellow;
  height: 100%;
  width: 46rem;
}

.divisions{
  display: flex;
  margin-left: 4rem;
  margin-top: 2rem;
  /* justify-content: space-between; */
}

.inProfile{
  background-color: white;
  border-radius: 8px;
  height: 16rem;
  width: 16rem;
  margin: auto;
}

.profileSection{
  padding-top: 5rem;
}

.profileImage{
  width: 6rem;
  height: 6rem;
  background-color: pink;
  margin: auto;
  z-index: 10;
  overflow-y: visible;
  top: -2rem;
  position: relative;
  border-radius: 50%;
}

.follo{
  display: block;
}

.follo-following{
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -4rem;
}

.profileName{
  display: flex;
  align-items: center;
  justify-content: center; 
  position: relative;
  top: -3rem;
}

.profileID{
  display: flex;
  align-items: center;
  justify-content: center; 
  font-weight: 200;
  position: relative;
  top: -3rem;
}

.folloNum{
  display: flex;
  align-items: center;
  justify-content: center;
}

.profileBio{
  height: 4rem;
  width: 12rem;
  /* border: 2px solid black; */
  margin: auto;
  position: relative;
  top: -2rem;
}

.profileBtn{
  height: 3rem;
  width: 8rem;
  background-color: pink;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -1.5rem;
  border-radius: 5px;
}

.importantLinks{
  margin-top: 2rem;
}


.innImportantLiks{
  background-color: white;
  border-radius: 8px;
  height: 13rem;
  width: 16rem;
  margin: auto;
}

.linkSection{
  padding-top: 2.5rem;
  /* height: 10rem; */
}

.inlinkSection{
  margin-left: 2rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.inlinkSection:hover{
  color: red;
}

.popularFollowingSection{
  margin-top: 2rem;
}

.innPopularFollowingSection{
  background-color: white;
  width: 16rem;
  margin: auto;
  border-radius: 8px;
}
.innPeopleSection{
  display: flex;
  padding-top: 1rem;
  justify-content:space-between ;
}

.forid{
  font-weight: 50;
}

.forname{
  font-weight: 600;
}

.folloBtn{
  border: none;
  background-color: white;
  color: red;
  cursor: pointer;
}

.fornameid{
  cursor: pointer;
}

.forimage{
  cursor: pointer;
}

.innNavigationCenter{
  background-color: white;
  margin: auto;
  width: 45rem;
}

.NavigationCenter{
  padding-top: 2rem;
}

.currCommunity{
  display: flex;
  justify-content: space-between;
}

.currCommunity> .forNameAndMember{
  margin-left: -20rem;
}

.innNavigationCenter> br{
  background-color: black;
  color: black;
}