/*! for Navigation Part */
.completeNav{
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  font-size: 2rem;
  gap: 28rem;
  margin-left: 4rem;
}

.logo {
  display: flex;
  justify-content: center;
  gap: 0.5rem;  
}

.logo img{
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-left: 0.5rem;
  position: relative;
  top: 0.5rem;
}

.logo .txt{
  font-size: 2rem;
  font-weight: 600;
  position: relative;
  top: 0.5rem;
}

.rightSide img{
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-left: 0.5rem;
  position: relative;
  top: 0.5rem;
}


/*  */

/* Page Divisions */

.divisions{
  display: flex;
  margin-left: 4rem;
  margin-top: 2rem;
  /* justify-content: space-between; */
}




.inLeftPart{
  background-color: purple;
  width: 18rem;
  height: 90vh;
  overflow: scroll;
}

.inLeftPart::-webkit-scrollbar{
  display: none;
}

.inRightPart{
  background-color: green;
  height: 90vh;
  overflow: scroll;
  width: 23rem;
}

.inRightPart::-webkit-scrollbar{
  display: none;
}

.inCenterPart{
  background-color: yellow;
  height: 90vh;
  overflow: scroll;
  width: 46rem;
}

.inCenterPart::-webkit-scrollbar{
  display: none;
}

/*  */



/* Left Side Started */


.inProfile{
  background-color: white;
  border-radius: 8px;
  height: 16rem;
  width: 16rem;
  margin: auto;
  box-shadow:  0.1em 0.1em 1em rgba(0, 0, 0, 0.3);

}

.profileSection{
  padding-top: 5rem;
}

.profileImage{
  width: 6rem;
  height: 6rem;
  background-color: pink;
  margin: auto;
  z-index: 10;
  overflow-y: visible;
  top: -2rem;
  position: relative;
  border-radius: 50%;
}

.profileImage img{
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
}


.follo{
  display: block;
}

.follo-following{
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -4rem;
}

.profileName{
  display: flex;
  align-items: center;
  justify-content: center; 
  position: relative;
  top: -3rem;
}

.profileID{
  display: flex;
  align-items: center;
  justify-content: center; 
  font-weight: 200;
  position: relative;
  top: -3rem;
}

.folloNum{
  display: flex;
  align-items: center;
  justify-content: center;
}

.profileBio{
  height: 4rem;
  width: 12rem;
  /* border: 2px solid black; */
  margin: auto;
  position: relative;
  top: -2rem;
}

.profileBtn{
  height: 3rem;
  width: 8rem;
  background-color: pink;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -1.5rem;
  border-radius: 5px;
  cursor: pointer;
}

.importantLinks{
  margin-top: 2rem;
}


.innImportantLiks{
  background-color: white;
  border-radius: 8px;
  height: 13rem;
  width: 16rem;
  margin: auto;
  box-shadow:  0.1em 0.1em 1em rgba(0, 0, 0, 0.3);
}

.linkSection{
  padding-top: 2.5rem;
  /* height: 10rem; */
}

.inlinkSection{
  margin-left: 2rem;
  font-size: 1.5rem;
  cursor: pointer;
  
}

.inlinkSection .linkin{
  text-decoration: none;
  color: inherit;
}


.inlinkSection:hover{
  color: red;
}

.popularFollowingSection{
  margin-top: 2rem;
}

.innPopularFollowingSection{
  background-color: white;
  width: 16rem;
  margin: auto;
  border-radius: 8px;
  border: 0.1rem solid rgba(0, 0, 0, 0.3) ;
}
.innPeopleSection{
  display: flex;
  padding-top: 1rem;
  gap: 0.2rem;
}

.forid{
  font-weight: 50;
}

.forname{
  /* font-weight: 600; */
  font-size: 0.9rem;
}

.folloBtn{
  border: none;
  background-color: white;
  color: red;
  cursor: pointer;
}

.fornameid{
  cursor: pointer;
}

.forimage{
  cursor: pointer;
  width: 4.3rem;
  height: 4rem;
  border-radius: 50%;

}

.forimage img{
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  box-shadow:  0.1em 0.1em 1em rgba(0, 0, 0, 0.3)
}





/* For Center Part */

.innNavigationCenter{
  background-color: white;
  margin: auto;
  width: 96%;
  border-radius: 0.5rem;
  margin-top: -2.2rem;
  
}

.NavigationCenter{
  padding-top: 2rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
}

.currCommunity{
  display: flex;
  justify-content: space-between;
}

.currCommunity .forImg img{
  margin-top: .2rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.currCommunity .forNameAndMember{
  margin-left: -28rem;
}

.prf img{
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-left: 0rem;
}

.innPeopleSection img{
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-left: 0rem;

}

.ButtonsForCenterNavigation{
  display: flex;
  justify-content: space-evenly;
  /* margin-top: 2rem ; */
  /* background-color: red; */
  padding-top: .3rem;
  padding-bottom: .4rem;
  align-items: center;
  font-size: 2rem;
}

.PostsButtons:hover{
  color: red;
  cursor: pointer;
}

.AnnouncementsButtons:hover{
  color: red;
  cursor: pointer;
}

.formSectionCenter{
  display: flex;
  justify-content: flex-start;
}

.formSectionCenter .prf{
  background-color: red;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-left: 0.4rem;
}

.formSectionCenter .inputTaking{
  width: 38rem;
  margin-left: 1.5rem;
  position: relative;
  padding-bottom: 2rem;
  margin-bottom: 0.5rem;
  border-radius: 0.2rem;
}

.innPostSection{
  width: 90%;
  margin: auto;
  background-color: whitesmoke;
  height: 100%;
}

.innPosts{
  background-color: wheat;
  width: 90%;
  height: 100%;
  margin: auto;
}

.innPosts .innPeopleSection{
  position: relative;
  top: -0.5rem;
}

.ImportantIcons{
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
}







/* For right Part */
.InputSection{
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.InputSection .inputPart{
  width: 20rem;
  height: 3rem;
  border-radius: .5rem;
  border: 2px solid gray;
}

.txtRight{
  display: flex;
  justify-content: flex-start;
  /* padding-top: 1rem; */
  font-size: 1rem;
  padding-left: 1.4rem;
  font-weight: 600;
}




/*  */


/* For Tablets */

@media (min-width: 768px) and (max-width: 1024px){
  .inRightPart {
      display: none;
  }
  .completeNav{
    gap: 15rem;
    margin-left: 1rem;
    font-size: 1.3rem;
    justify-content: flex-end;
  }
  .divisions{
    margin-left: 0.5rem;
  }
  .inCenterPart{
    width: 34rem;
  }
  .inLeftPart{
    width: 16rem;
  }
  .currCommunity .forNameAndMember{
    margin-left: -17rem;
  }
  
}

/* for mobiles */
@media (max-width: 480px) {
  .completeNav{
    font-size: 1.3rem;
    margin-left: 1rem;
  }
  .pageHeadline{
    display: none;
  }
  .rightSide{
    display: none;
  }
  .divisions{
    margin-left: 0.5rem;
  }
  .inLeftPart{
    display: none;
  }
  .inRightPart{
    display: none;
  }
  .inCenterPart{
    width: 22rem;
  }
  .currCommunity .forNameAndMember{
    margin-left: -6rem;
  }
}


/*  */